<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
       type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, &#xD;&#xA;									 Microsoft.Practices.EnterpriseLibrary.Data, &#xD;&#xA;									 Version=6.0.0.0, Culture=neutral, &#xD;&#xA;									 PublicKeyToken=31bf3856ad364e35"


                                           requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="EmployeeTrainingDatabase" />
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>orHaZ9DuqWhM7tRt7K9fwCj5+BS9hkpKdpSfasGRSJPmGEn+TILo/s2N38W49udorVo4/pdbMJCB9iRs6TXESzd15rowgAxk9ZAKUcws/DJ+JJQnLpZK540E9aMYzQ/a41QTv8UU/2P0PFgDyxhf4kCefxIwPcfwrFDYq6MVCMzKKVGQIPQww50qaWZb9eC7AljyvYYJSOo9kUj+9O+5oagWBwRp97AzATfd5M+fg2H8e4PMmc4bRppusP0m3AWYsslgHQeVxPcBAtK0QehOHQN8hUJQssJQ79wQMVorGjGreddcJJWF95ZUWxmRZeH1iNwjgXLKiMGdJzBopiEc/Q==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>wgFPCNa9atAkoSmRt1eFLejeraS4SwADdkPwXU3ynldm8VI90ITv+PIfkqbxtmZRxpE3no0TaCV3mtYHuJGQhx9cwpgwjXtJMJi3rzk0QDY3k4xVp/84bgox+uZpJlywQgP4Xc0TB5v2ez0fsXsmDRFW0H9TtjNGUV03SOcEuGsa62oGytUBvf4Jv8rFMYi63p3iTwt/qPfMVUigyRl494hMCwkvpscWtM+IL4F1qRtXUXDOYjC7ogTFdxEN4iXvwWJro6TIgLrWogYbYRIGYQJ7AXhVKpZYM/4CjEaiqFDCu7XmBHkE3lNMp0NKkb9tsDdi2nfzUr6JigfCAX4lmZuNCzuG1qnH4u/491AH4AdRX3wqm4mEunHGdm9lU7HULUEXdQjySjKn1s95r39vk9fPhjmPcC/5Rb38gZknTdARF+JmpiwuTXeCRt4lx1lQV4NKMEk7O7xZH7Zfx6Pf+ctn5QpJSBC+y8/DHOh8PV6uC2l83QKHoaiYeLe5vo9oiRygCjId+aqo1v9qkcKzWiepHIXSQFKB79Vpd9RxkCmbh6BpzxCEAnCixVisIqbC0LVEV+mTTP+HRVE0uibVUyTTK+j79/ZfKRIz3iQlNsWAH4bLq7YJxSx/+BIWWb0UQ0R3BF8+23y7m68DLvsev/BbkYuNAPY19qOSNRWVvYER9gCKz7TJ6JG06PSoKw1kc1Q9TfgalqGRb6AxYhu8er/2C5dnBM+21VrhS2E+Qsh17YHqIK/++lZhXpgZ/LoUebCJwHNl0OF0jYZE8flPxcCA8dOwiZ2FrBK1Qczg2RWppnC96JxrQCEQuQ7M5T98svc96+yZpo4LZVHrcSPExQGFV5qcnwBxrtoyXQSXyfmTdfsnzV3uZ35n+PmsVCg1</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>